<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8"> </meta>
<title>添加书籍</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul th:each="f : ${files}">
                    <li>
                        <img th:if="${f.isFile}" src="/file.png">
                        <img th:if="${!f.isFile}" src="/fold.png">
                        <a th:if="${!f.isFile}" th:href="@{'http://localhost:8080/filePath/'+${f.path}}" th:text="${f.path}"></a>
                        <a th:if="${f.isFile}" th:href="@{'http://localhost:8080/download/'+${f.path}}" th:text="${f.path}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>